.userBody {
  min-height: 100vh;
  background: #f9f9f9;
}

.divContainer {
  position: relative;
  width: 100%;
  background: #fff;
}

.userHeader {
  position: relative;
  height: 300px;
  background: linear-gradient(45deg, #231fbf, #69175f);
  padding: 50px;
}

.userHeader ul {
  display: flex;
  gap: 36px;
}

.userHeader a {
  color: #fff;
  font-size: 1.5em;
}

.resume {
  display: flex;
  justify-content: space-around;
}
