.button {
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 0.4rem;
    background: #332D31;
    color: #D676B8;
    min-width: 8rem;
    padding: 0.8rem 1.2rem;
    box-sizing: border-box;
    transition: 0.1s;
}

.button[type= "reset"]{
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 0.2rem;
    background: #332D31;
    color: #D676B8;
    min-width: 8rem;
    padding: 0.8rem 1.0rem;
    box-sizing: border-box;
    box-shadow: 0 0 0 3px #663857, 0 0 0 4px #3B2A35;
    transition: 0.1s;
}

.button:hover,
.button:focus {
    outline: none;
    box-shadow: 0 0 0 3px #663857, 0 0 0 4px #3B2A35;
}

.button:disabled {
    opacity: 0.5;
    cursor: wait;
}
